[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ipykernel = "*"
ipywidgets = "*"
xmltodict = "*"
pydantic = "*"
selenium = "*"
beautifulsoup4 = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-anthropic = "*"
requests-oauthlib = "*"
langchain-openai = "*"
linkedin-api-client = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
